---
layout: landing
title: Get Mobile MAZA Wallet
description: Mobile Wallets for sending, recieving, and storing MAZA
tags: appstore, wallets, android
---

<div class="ui inverted vertical segment dark-wood">
  <div class="ui very relaxed stackable page grid">
   <div class="row">
      <h2 class"slim-header-light">
      <figure> 
      <!--  <img src="/img/bitcoin128.png" align="center" width="100px" height="100px"> -->
       <figurecaption>MAZA Mobile Wallet</figurecaption>
      </figure>
      </h2>
      <div class="four wide column">
      <h3 class="slim-header-light">
       <a href="https://play.google.com/store/apps/details?id=com.mygeopay.wallet" target="_blank">
     <figure>
	 <img src="/img/UberPay.png" align="left" width="180px" height="180px">
	  <figcaption>UberPay Bitcoin Wallet</figcaption>
	 </figure>
       </a>
       </h3>
       </div>
   </div> <!-- end row -->
   
    <!--
    <div class="row">
      <div class="eight wide column">
        {% include recent-releases.html %}
      </div>

      <div class="eight wide column">
          
          {% include feature-post.html %}        

        <div class="ui inverted divider"></div>

        <h3 class="ui inverted header">Tags</h3>
          {% include site-tags.html %}
          
        <div class="ui inverted divider"></div>
        
        <h3 class="ui inverted header">Categories</h3>
          {% include site-categories.html %}
          
      </div>
    </div> --> <!-- /row -->
  </div>
</div>
