---
layout: landing
title: Buy, Sell, Trade, Accept &  Spend MAZA 
description: Exchanges, Merchant Payment Processors, Stores and other MAZA trading resources
tags: exchanges, merchant, payments
---

<div class="ui inverted vertical segment dark-wood">
  <div class="ui very relaxed stackable page grid">
   <div class="row">
      <h2 class"slim-header-light">
      <figure> 
       <img src="/img/bitcoin128.png" align="center" width="100px" height="100px">
       <figurecaption>MAZA Bitcoin Markets</figurecaption>
      </figure>
      </h2>
      <div class="four wide column">
      <h3 class="slim-header-light">
       <a href="https://www.cryptopia.co.nz/Exchange?market=MZC_BTC" target="_blank">
         <figure>
	 <img src="/img/cryptopia-logo.jpeg" align="left" width="200px" height="100px">
	  <figcaption>Cryptopia</figcaption>
	 </figure>
       </a>
       </h3>
       </div>
   </div>
   <div class="row">
      <h2 class"slim-header-light">
      <figure> 
       <img src="/img/cryptopia-logo.jpeg" align="center" width="200px" height="100px">
       <figurecaption>Additional MAZA Markets</figurecaption>
      </figure>
      </h2>
      <div class="four wide column">
      <h3 class="slim-header-light">
       <a href="https://www.cryptopia.co.nz/Exchange?market=MZC_LTC" target="_blank">
         <figure>
	 <img src="/img/litecoin-logo.png" align="center" width="100px" height="100px">
	  <figcaption>MAZA/LTC</figcaption>
	 </figure>
       </a>
       </h3>
       </div>
      <div class="four wide column">
      <h3 class="slim-header-light">
       <a href="https://www.cryptopia.co.nz/Exchange?market=MZC_DOGE" target="_blank">
         <figure>
	 <img src="/img/dogecoin-logo.png" align="center" width="100px" height="100px">
	  <figcaption>MAZA/DOGE</figcaption>
	 </figure>
       </a>
       </h3>
       </div>
   </div>
    <!--
    <div class="row">
      <div class="eight wide column">
        {% include recent-releases.html %}
      </div>

      <div class="eight wide column">
          
          {% include feature-post.html %}        

        <div class="ui inverted divider"></div>

        <h3 class="ui inverted header">Tags</h3>
          {% include site-tags.html %}
          
        <div class="ui inverted divider"></div>
        
        <h3 class="ui inverted header">Categories</h3>
          {% include site-categories.html %}
          
      </div>
    </div> --> <!-- /row -->
  </div>
</div>
