---
layout: landing
title: Buy, Sell, Trade, Accept &  Spend MAZA 
description: Exchanges, Merchant Payment Processors, Stores and other MAZA trading resources
tags: exchanges, merchant, payments
---

<div class="ui inverted vertical segment dark-wood">
  <div class="ui very relaxed stackable page grid">
   <div class="row">
   	  <div class="sixteen wide column">
      <h2 class="slim-header-light">
      <figure> 
       <img src="/img/bitcoin128.png" align="center" width="100px" height="100px">
       <figurecaption>MAZA Bitcoin Markets</figurecaption>
      </figure>
      </h2>
	  </div>
	</div><!-- end row -->
	<div class="row">
      <div class="four wide column">
      <h3 class="slim-header-light">
       <a href="https://freiexchange.com/market/MAZA/BTC" target="_blank">
         <figure>
	 <img src="/img/freiexchange-logo.png" align="left" width="195px" height="50px">
	  <figcaption>FreiExchange MAZA/BTC</figcaption>
	 </figure>
       </a>
       </h3>
       </div>
	  <div class="four wide column">
      <h3 class="slim-header-light">
       <a href="https://swiftex.co/trading/maza-btc" target="_blank">
         <figure>
	 <img src="/img/swiftex-logo.png" align="left" width="75" height="">
	  <figcaption>SwiftEx MAZA/BTC</figcaption>
	 </figure>
       </a>
       </h3>
       </div>
	   <div class="eight wide column">
	  <script src="https://widgets.coingecko.com/coingecko-coin-ticker-widget.js"></script>
<coingecko-coin-ticker-widget currency="btc" coin-id="maza" locale="en"></coingecko-coin-ticker-widget>
	   </div>
   </div><!-- end row -->
   <div class="row">
   	  <div class="sixteen wide column">
      <h2 class="slim-header-light">
      Additional MAZA Markets
	  </h2>
	  </div>
	</div><!-- end row -->
   <div class="row">
	  <div class="four wide column">
      <h3 class="slim-header-light">
       <a href="https://swiftex.co/trading/maza-mynt" target="_blank">
         <figure>
	 <img src="/img/swiftex-logo.png" align="left" width="75" height="">
	  <figcaption>SwiftEx MAZA/MYNT</figcaption>
	 </figure>
	  </a>
      </h3>
      <br>
	  </div>
   </div><!-- end row -->
    <!--
    <div class="row">
      <div class="eight wide column">
        {% include recent-releases.html %}
      </div>

      <div class="eight wide column">
          
          {% include feature-post.html %}        

        <div class="ui inverted divider"></div>

        <h3 class="ui inverted header">Tags</h3>
          {% include site-tags.html %}
          
        <div class="ui inverted divider"></div>
        
        <h3 class="ui inverted header">Categories</h3>
          {% include site-categories.html %}
          
      </div>
    </div> --> <!-- /row -->
  </div>
</div>
