---
layout: landing
title: Buy, Sell, Trade, Accept &  Spend MAZA 
description: Exchanges, Merchant Payment Processors, Stores and other MAZA trading resources
tags: exchanges, merchant, payments
---

<div class="ui inverted vertical segment dark-wood">
  <div class="ui very relaxed stackable page grid">
   <div class="row">
      <h2 class="slim-header-light">
      <figure> 
       <img src="/img/bitcoin128.png" align="center" width="100px" height="100px">
       <figurecaption>MAZA Bitcoin Markets</figurecaption>
      </figure>
      </h2>
      <div class="four wide column">
      <h3 class="slim-header-light">
       	<a href="https://freiexchange.com/market/MAZA/BTC" target="_blank">
        <figure>
	 	<img src="/img/freiexchange-logo.png" align="left" width="195px" height="50px">
	  	<figcaption>FreiExchange</figcaption>
	 	</figure>
       	</a>
       	<a href="https://freebitcoins.com/xchange/market/Bitcoin-Mazacoin" target="_blank">
        <figure>
        <img src="/img/freebitcoins-logo.png" align="left" width="230px" height="67px">
         <figcaption>FreeBitcoins</figcaption>
        </figure>
       	</a>
	   </h3>
       </div>
   </div><!-- end row -->
   
   <div class="row">
      <h2 class="slim-header-light">
      Additional MAZA Markets
	  </h2>
	  <div class="four wide column">
      <h3 class="slim-header-light">
		<a href="https://freixlite.com/market/MAZA/LTC" target="_blank">
		<figure>
		<img src="/img/freixlite.png" align="left" width="213px" height="50px">
		<figcaption>FreiXlite&nbsp;-&nbsp;LTC</figcaption>
		</figure>
		</a>
		<a href="https://www.exbitron.com/" target="_blank">
		<figure>
		<img src="/img/exbitron-logo-dark.png" align="left" width="200px" height="50px">
		<figcaption>EXBITRON&nbsp;- DOGE,&nbsp;USDT</figcaption>
		</figure>
		</a>
      </h3>
      <br>
	  </div>
   </div><!-- end row -->
    <!--
    <div class="row">
      <div class="eight wide column">
        {% include recent-releases.html %}
      </div>

      <div class="eight wide column">
          
          {% include feature-post.html %}        

        <div class="ui inverted divider"></div>

        <h3 class="ui inverted header">Tags</h3>
          {% include site-tags.html %}
          
        <div class="ui inverted divider"></div>
        
        <h3 class="ui inverted header">Categories</h3>
          {% include site-categories.html %}
          
      </div>
    </div> --> <!-- /row -->
  </div>
</div>
