---
layout: landing
title: Home

---


<div class="ui feature vertical segment">
  <div class="ui centered page grid">
    <div class="fourteen wide column">
      <div class="ui three column center aligned stackable divided grid">
        <div class="column">
          <div class="ui icon header">
	    <a href="https://github.com/mazacoin/maza">
            <i class="yellow github icon"></i></a>
            MAZA on Github
          </div>
          <p>Review <a href="https://github.com/mazacoin/maza">MAZA Source Code</a>, and checkout <a href="https://github.com/mazacoin">other MAZA applications and services</a></p>
        </div>
        <div class="column">
          <div class="ui icon header">
	      <a href="/download/">
               <i class="red download icon"></i></a>Download MAZA Software
          </div>
          <p>MAZA Network software is available via IPFS & IPFS Web Gateways, <a href="/download/">learn how here.</a></p>
        </div>
        <div class="column">
          <div class="ui icon header">
	   <a href="/exchanges/">
            <i class="black exchange icon"></i></a>
            Exchange and Trade 
          </div>
          <p><a href="/exchanges/">Buy, Sell, Trade MAZA!</a>Where to trade MAZA for Bitcoin, Litecoin, Dogecoin, merchant payment processors, other services</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical segment black-shine-gradient">
  <div class="ui stackable page grid">
    <div class="row">
      <div class="eight wide column">
        <h3 class="ui inverted header">MAZA is a Cryptocurrency Network for All Sovereign Tribes</h3> 
        <h4 class="ui inverted header">
        Mine on a solid long standing blockchain with your existing Bitcoin mining gear and improve your earnings!
        </h4>
        <h4 class="slim-header-light">
        Create Smart apps and contracts to run on MAZA!
        </h4>
        <h4 class="ui inverted header">
        Contribute and help develop the MAZA Network, this website, documentation and more.
        </h4>
      </div>
      <div class="eight wide column">
        {% include feature-post.html %}        
      </div>
    </div>
  </div>
</div>

<!--
<div class="ui feature vertical segment">
  <div class="ui centered page grid">
    <div class="fourteen wide column">
      <div class="ui three column center aligned stackable divided grid">
        <div class="column">
          <div class="ui icon header">
            <i class="purple mobile icon"></i>
            Hybrid Apps
          </div>
          <p>Responsive theme supporting multiple devices with one code base. Design once, publish anywhere.</p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="purple bug icon"></i>
            Live Tests
          </div>
          <p>Travis CI integrated. BrowserSync ready. Lint JS, CSS on build. HTML proofing planned.</p>
        </div>
        <div class="column">
          <div class="ui icon header">
            <i class="purple rocket icon"></i>
            Speed Optimized
          </div>
          <p>PageSpeed Insights built-in. Images optimized in build. CSS, JS minified. Selective JS includes.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui inverted vertical segment">
  <div class="ui centered page grid">
    <div class="fourteen wide column">
      <div class="ui five column center aligned stackable inverted divided grid">
        <div class="column">
          <a class="ui small blue inverted statistic" href="/apps/">
            <div class="value">
              <i class="cube icon"></i> {{ site.categories.app | size  }}
            </div>
            <p class="label">
              Single Page Apps
            </p>
          </a>
        </div>
        <div class="column">
          <a class="ui small purple inverted statistic pagebar" href="#">
            <div class="value">
              <i class="content icon"></i> {{ site.pages | size  }}
            </div>
            <div class="label">
              Templates
            </div>
          </a>
        </div>
        <div class="column">
          <a class="ui small blue inverted statistic" href="/embeds/">
            <div class=" value">
              <i class="wizard icon"></i> {{ site.data.embeds | size }}
            </div>
            <div class="label">
              Reusable Embeds
            </div>
          </a>
        </div>
        <div class="column">
          <a class="ui small orange inverted statistic" href="{% post_url /releases/2016-10-16-maza-v0-10-2-released %}">
            <div class="text value">
              One Minute
            </div>
            <div class="label">
              Content Workflow
            </div>
          </a>
        </div>
        <div class="column">
          <a class="ui small blue inverted statistic" href="/category/#theme">
            <div class="value">
              <i class="student icon"></i> {{ site.categories.theme | size  }}
            </div>
            <div class="label">
              Theme Tutorials
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui vertical segment">
  <div class="ui centered page stackable divided grid">
    <div class="row">
      <div class="column">
        <h1 class="center aligned ui header">
          Browse OpenTheme Content
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="eight wide column">

        <h3 class="ui header">Tags</h3>
          {% include site-tags.html %}

      </div>

      <div class="eight wide column">

        <h3 class="ui header">Categories</h3>
          {% include site-categories.html %}

      </div>

    </div> --><!-- /row --><!--
  </div>
</div> -->

