<div class="ui right vertical sidebar menu">
    <div class="item">
      <div class="ui transparent mini icon input">
        <input type="text" placeholder="Search..." class="menu-search">
        <i class="search link icon"></i>
      </div>
    </div>

    <a class="item" href="{% post_url /releases/2022-01-13-maza-v0-16-3-released %}">
    <i class="red download icon"></i>
    Latest Release

    <span class="ui blue mini label">{{ site.categories.releases | size  }}</span> 
    </a>
    <a class="item" href="/download/">
    <i class="red download icon"></i>
    How to Get MAZA!
    </a>
    <a class="item" href="/exchanges/">
    <i class="black exchange icon"></i>
    Buy, Sell, Accept & Spend 
    </a>
    <a class="item" target="_blank" href="https://github.com/mazacoin">
    <i class="yellow github icon"></i>
    Source Code 
    </a>
    <a class="item" href="/blog/">
    <i class="comments icon"></i>
    Tutorials & Blog
    <span class="ui teal mini label">New</span> 
    </a>
   <!--
    <a class="item" href="/embeds/">
    <i class="wizard icon"></i>
    Plugin Embeds <span class="ui purple mini label">{{ site.data.embeds | size }}</span>
    </a>
    <a class="item" href="/kitchensink/">
    <i class="block layout icon"></i>
    Kitchen Sink
    </a>
    <a class="item" href="/panoramio/">
    <i class="pin icon"></i>
    Panoramio Map
    </a> -->
    <a class="item" href="/tag/">
    <i class="tags icon"></i>
    Tag Browser
    </a>
    <a class="item" href="/category/">
    <i class="bookmark icon"></i>
    Category List
    </a>
</div>
